* {
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
  border: 1px solid #999;
  text-align: center;
  /* text-align: center; */
  font-size: larger;
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.space {
  justify-content: space-between;
}

#game {
  width: 50%;
  height: 50%;
}
